body {
	background-image: url('test.jpg');
}

p {
	font-family: Arial,sans-serif;
	font-size: 14px;
	text-align: center;
	color: #000;
}

h1 {
    
	border: 1px solid black;
	background-color: #757575;
	opacity: 1;
	float: center;
	border-radius: 10px;
	text-align:center;
}
h2 {
	text-align:center;
}

#main {
	vertical-align: middle;
}

#main:after {
	content: '';
	display: block;
	clear: both;
}

.inline-block {
	display: inline-block;
}



center {
	margin-top: 180px;
}
.button {
display: block;  
  border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11.5px 23px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1f4761;
   background: #1f4761;
   }