body
{
	background: url("FondWeb3.jpg") fixed no-repeat center rgba(0,0,0,0.1);
	opacity: 1;
	color:	#;
	text-align: center;
}

header
{
	width: 1425px;
	border: 2px solid black;
	background-color: #57a016;
	opacity: 0.9;
	border-radius: 10px;
	color:  #000000;
	margin-bottom: 75px;
}

h1
{
	font-size: 35px;
	float: center;
}

p:hover 
{
   text-decoration: underline;
   background-color: #85ff00;
   color: black;
   border: 2px solid black;
}

p 
{
	width: 250px;
	border: 2px solid black;
	background-color: #feffb3;
	border-radius: 10px;
	opacity: 0.9;
}

h2
{
	font-size: 16px;
	width: 250px;
	border: 2px solid black;
	background-color: #feffb3;
	border-radius: 10px;
	opacity: 0.9;
}

h2:hover 
{
   text-decoration: underline;
   background-color: #ff4b00;
   color: black;
   border: 2px solid black;
}

section
{
	width: 1425px;
	height: 350px;
	border: 2px solid black;
	background-color: white;
	border-radius: 10px;
	opacity: 0.8;
}

span
{
	width: 250px;
	border: 2px solid black;
	background-color: #00d900;
	border-radius: 10px;
	display: inline-block;
	height: 200px;
	position: absolute;
	right: 900px;
	top: 250px;
	z-index: 1;
}

em
{
	width: 250px;
	border: 2px solid black;
	background-color: #ff0000;
	border-radius: 10px;
	display: inline-block;
	height: 200px;
	position: absolute;
	right: 300px;
	top: 250px;
}
.OFFTEMP
{
	position: absolute;
	right: 300px;
	top: 250px;
}

.OFFLIGHT
{
	position: absolute;
	right: 300px;
	top: 300px;
}
.OFFWIND
{
	position: absolute;
	right: 300px;
	top: 350px;
}
.OFFWATER
{
	position: absolute;
	right: 300px;
	top: 400px;
}

.ONTEMP
{
	position: absolute;
	right: 900px;
	top: 250px;
	z-index: 2;
}

.ONLIGHT
{
	position: absolute;
	right: 900px;
	top: 300px;
	z-index: 2;
}
.ONWIND
{
	position: absolute;
	right: 900px;
	top: 350px;
	z-index: 2;
}
.ONWATER
{
	position: absolute;
	right: 900px;
	top: 400px;
	z-index: 2;
}