
body
{
	background: url("serre_2.jpg") fixed no-repeat center rgba(0,0,0,0.1);
	opacity: 1;
	color: #00b0f6;
	text-align: center;
}

header
{
	width: 1425px;
	border: 2px solid black;
	background-color: #57a016;
	opacity: 0.9;
	border-radius: 10px;
	color:  #000000;
}

footer+a
{
	color:  #00cccc;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

footer
{
	width: 1425px;
	border: 1px solid black;
	background-color: #757575;
	opacity: 0.8;
	float: center;
	border-radius: 10px;
}

footer + a
{
	text-align: justify;
}

h1
{
	font-size: 50px;
	float: center;
}

h2
{
	font-size: 30px;
	float: center;
}

h3
{
	font-size: 50px;
	float: center;
}

h4
{
	font-size: 30px;
	position: absolute;
		top: 300px;
		right: 950px;
}

a
{
	color:  #000000;
}

.Agir
{
	background: url("vasistas_Test.jpg") no-repeat center rgba(0,0,0,0.1);
	width: 200px;
	border: 2px solid black;
	border-radius: 10px;
	display: inline-block;
	height: 135px;
}

.Agir:hover
{
opacity: 0.9;
border-color: #323232;
}

.Val
{
	background: url("la-serre-bioclimatique_Test.jpg") no-repeat center rgba(0,0,0,0.1);
	width: 200px;
	border: 2px solid black;
	border-radius: 10px;
	display: inline-block;
	height: 135px;
	text-align: center;